<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VacationPlanner"
        tools:targetApi="31">
        <activity
            android:name=".UI.AddExcursion"
            android:exported="false"
            android:label="Add Excursion"/>
        <activity
            android:name=".UI.EditVacation"
            android:exported="false"
            android:label="Edit Vacation" />
        <activity
            android:name=".UI.DetailedVacation"
            android:exported="false"
            android:label="Vacation Details"
            android:parentActivityName=".UI.VacationList" />
        <activity
            android:name=".UI.AddVacation"
            android:exported="false"
            android:label="Plan A Vacation"
            android:parentActivityName=".UI.VacationList" />
        <activity
            android:name=".UI.VacationList"
            android:exported="false"
            android:label="My Vacations" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>